In [50]:
import json
from pathlib import Path
import pandas as pd

logdir = Path("/local/jetzeschuurman/f_mnist/logs")

In [51]:
!ls /local/jetzeschuurman/f_mnist/logs/

 parn_18_d0.5_256_sgd_l0.1_g0.1_sTrue
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.0_sTrue'
'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.25-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.5-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.75-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.25-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.5-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.75-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.25-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.5-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'
'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.75-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue'

In [52]:
baseline = "parn_18_d0.5_256_sgd_l0.1_g0.1_sTrue/1633280228"

In [53]:
# decompose
    # tucker
        # 75
td_tucker_75 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.75-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633342509' 
        # 50
td_tucker_50 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.5-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633342529'
        # 25
td_tucker_25 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.25-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633341825'

    # cp
        # 75
td_cp_75 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.75-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633362870'
        # 50
td_cp_50 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.5-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633361981'
        # 25
td_cp_25 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.25-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633359559'

        
    # tt
        # 75
td_tt_75 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.75-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633341625'
        # 50
td_tt_50 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.5-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633341658'
        # 25
td_tt_25 = 'parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.25-dTrue-iFalse_bn_256_sgd_l0.01_g0.1_sTrue/1633341656'
    
# factorized
    # tucker
        # 75
lr_tucker_75 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339874'
        # 50    
lr_tucker_50 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339793'
        # 25
lr_tucker_25 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tucker-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339809'
    
    # cp
        # 75
lr_cp_75 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339824'
        # 50
lr_cp_50 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339858'
        # 25
lr_cp_25 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-cp-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339889'
    # tt
        # 75
lr_tt_75 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.75-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339907'
        # 50
lr_tt_50 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.5-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339920'
        # 25
lr_tt_25 = 'parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)-tt-0.25-dFalse-i0.02_bn_256_sgd_l0.01_g0.1_sTrue/1633339931'

In [54]:
paths = [
    baseline,
    td_tucker_75, td_tucker_50, td_tucker_25, 
    td_cp_75, td_cp_50, td_cp_25, 
    td_tt_75, td_tt_50, td_tt_25,
    lr_tucker_75, lr_tucker_50, lr_tucker_25,
    lr_cp_75, lr_cp_50, lr_cp_25,
    lr_tt_75, lr_tt_50, lr_tt_25,
]

In [55]:
results = {}
for path in paths:
    with open(logdir/path/'results.json') as json_file:
        result = json.load(json_file)
    
    if results == {}:
        results = {k:[v] for k,v in result.items()}
    else:
        for k,v in result.items():
            try:
                results[k].append(v)
            except:
                results[k] = [v]
        # results = {k:[v] for (k,v),(ks,vs) in zip(result.items(), results.items())}

In [56]:
results = []
for path in paths:
    with open(logdir/path/'results.json') as json_file:
        result = json.load(json_file)
    results.append(result)

In [57]:
keys = set()
for result in results:
    keys = keys.union( set(result.keys()) )

In [58]:
blank = {k:[] for k in keys}

In [59]:
df = pd.DataFrame(blank) #.append(results[1], ignore_index=True)

In [60]:
for result in results:
    df = df.append(result, ignore_index=True)

In [61]:
df

,best_train_acc,model_name,train_acc_before_ft,n_param,valid_acc_before_ft,n_param_fact,approx_error,best_valid_acc,best_epoch
0,0.99850,parn_18_d0.5_256_sgd_l0.1_g0.1_sTrue,NaN,11170122.0,NaN,NaN,NaN,0.9524,119.0
1,0.99730,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99738,NaN,0.9495,8422019.0,None,0.9498,8.0
2,0.99666,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99262,NaN,0.9451,5686326.0,None,0.9483,12.0
3,0.99110,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.92352,NaN,0.8934,2928247.0,None,0.9483,13.0
4,0.11960,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99858,NaN,0.9512,8435343.0,None,0.1267,1.0
5,0.23210,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99780,NaN,0.9495,5683659.0,None,0.2226,2.0
6,0.21000,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.98838,NaN,0.9430,2936874.0,None,0.2118,0.0
7,0.94746,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.35974,NaN,0.3564,1705558.0,None,0.9414,192.0
8,0.92954,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.18890,NaN,0.2040,1588369.0,None,0.9268,28.0
9,0.86982,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.11482,NaN,0.1102,1433399.0,None,0.8760,2.0
10,0.99684,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,8422019.0,NaN,0.9433,192.0
11,0.99772,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,5686326.0,NaN,0.9400,189.0
12,0.98520,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2928247.0,NaN,0.9428,112.0
13,0.97756,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,8435343.0,NaN,0.9397,122.0
14,0.98288,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,5683659.0,NaN,0.9388,185.0
15,0.97132,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2936874.0,NaN,0.9385,114.0
16,0.90734,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,8424461.0,NaN,0.9041,185.0
17,0.92506,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,5687999.0,NaN,0.9207,144.0
18,0.93904,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2924874.0,NaN,0.9320,183.0

In [63]:
df['compression'] = df['n_param_fact']/df['n_param'][0]

In [66]:
'parn_18' in df[[0,]]

False

In [72]:
df[[0]+list(range(1,10))]

TypeError: '(slice(None, None, None), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])' is an invalid key

In [102]:
df

,best_train_acc,model_name,train_acc_before_ft,n_param,valid_acc_before_ft,n_param_fact,approx_error,best_valid_acc,best_epoch,compression
0,0.99850,parn_18_d0.5_256_sgd_l0.1_g0.1_sTrue,NaN,11170122.0,NaN,NaN,NaN,0.9524,119.0,1.000000
1,0.99730,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99738,NaN,0.9495,8422019.0,None,0.9498,8.0,0.753977
2,0.99666,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99262,NaN,0.9451,5686326.0,None,0.9483,12.0,0.509066
3,0.99110,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.92352,NaN,0.8934,2928247.0,None,0.9483,13.0,0.262150
4,0.11960,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99858,NaN,0.9512,8435343.0,None,0.1267,1.0,0.755170
5,0.23210,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.99780,NaN,0.9495,5683659.0,None,0.2226,2.0,0.508827
6,0.21000,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.98838,NaN,0.9430,2936874.0,None,0.2118,0.0,0.262922
7,0.94746,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.35974,NaN,0.3564,1705558.0,None,0.9414,192.0,0.152689
8,0.92954,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.18890,NaN,0.2040,1588369.0,None,0.9268,28.0,0.142198
9,0.86982,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.11482,NaN,0.1102,1433399.0,None,0.8760,2.0,0.128324
10,0.99684,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,8422019.0,NaN,0.9433,192.0,0.753977
11,0.99772,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,5686326.0,NaN,0.9400,189.0,0.509066
12,0.98520,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2928247.0,NaN,0.9428,112.0,0.262150
13,0.97756,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,8435343.0,NaN,0.9397,122.0,0.755170
14,0.98288,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,5683659.0,NaN,0.9388,185.0,0.508827
15,0.97132,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2936874.0,NaN,0.9385,114.0,0.262922
16,0.90734,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,8424461.0,NaN,0.9041,185.0,0.754196
17,0.92506,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,5687999.0,NaN,0.9207,144.0,0.509215
18,0.93904,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2924874.0,NaN,0.9320,183.0,0.261848

In [101]:
df.compression[0] = 1.0

/home/jetzeschuurman/gitProjects/phd/tddl/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
selection = ['model_name','compression','valid_acc_before_ft','best_valid_acc']

In [111]:
df_tucker = df.loc[df.model_name.str.match(r'.*parn_18|.*tucker')]
df_tucker.sort_values(by='compression', ascending=False, inplace=True)
print(df_tucker.to_latex(
    columns=selection,
    header=True,
    index=False,
    na_rep='',
))

\begin{tabular}{lrrr}
\toprule
                                        model\_name &  compression &  valid\_acc\_before\_ft &  best\_valid\_acc \\
\midrule
              parn\_18\_d0.5\_256\_sgd\_l0.1\_g0.1\_sTrue &     1.000000 &                      &          0.9524 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.753977 &               0.9495 &          0.9498 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.753977 &                      &          0.9433 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.509066 &               0.9451 &          0.9483 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.509066 &                      &          0.9400 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.262150 &               0.8934 &          0.9483 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.262150 &                      &          0.9428 \\
\bottomrule
\end{tabular}

/home/jetzeschuurman/gitProjects/phd/tddl/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [112]:
df_cp = df.loc[df.model_name.str.match(r'.*parn_18|.*cp')][selection]
df_cp.sort_values(by='compression', ascending=False, inplace=True)
print(df_cp.to_latex(
    columns=selection,
    header=True,
    index=False,
    na_rep='',
))

\begin{tabular}{lrrr}
\toprule
                                        model\_name &  compression &  valid\_acc\_before\_ft &  best\_valid\_acc \\
\midrule
              parn\_18\_d0.5\_256\_sgd\_l0.1\_g0.1\_sTrue &     1.000000 &                      &          0.9524 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.755170 &               0.9512 &          0.1267 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.755170 &                      &          0.9397 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.508827 &               0.9495 &          0.2226 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.508827 &                      &          0.9388 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.262922 &               0.9430 &          0.2118 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.262922 &                      &          0.9385 \\
\bottomrule
\end{tabular}

In [113]:
df_tt = df.loc[df.model_name.str.match(r'.*parn_18|.*tt')][selection]
df_tt.sort_values(by='compression', ascending=False, inplace=True)
print(df_tt.to_latex(
    columns=selection,
    header=True,
    index=False,
    na_rep='',
))

\begin{tabular}{lrrr}
\toprule
                                        model\_name &  compression &  valid\_acc\_before\_ft &  best\_valid\_acc \\
\midrule
              parn\_18\_d0.5\_256\_sgd\_l0.1\_g0.1\_sTrue &     1.000000 &                      &          0.9524 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.754196 &                      &          0.9041 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.509215 &                      &          0.9207 \\
 parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.261848 &                      &          0.9320 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.152689 &               0.3564 &          0.9414 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.142198 &               0.2040 &          0.9268 \\
 parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12... &     0.128324 &               0.1102 &          0.8760 \\
\bottomrule
\end{tabular}

In [118]:
df.loc[df.model_name.str.match(r'.*tt.*\.25')]

,best_train_acc,model_name,train_acc_before_ft,n_param,valid_acc_before_ft,n_param_fact,approx_error,best_valid_acc,best_epoch,compression
9,0.86982,"parn-td-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",0.11482,NaN,0.1102,1433399.0,None,0.876,2.0,0.128324
18,0.93904,"parn-lr-(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12...",NaN,NaN,NaN,2924874.0,NaN,0.932,183.0,0.261848